body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.02em;
    text-align: left;

}

.main-information {
        font-weight: 500;
        font-size: 14px;
        line-height: 1,142;
        letter-spacing: 0.02em;
        text-align: left;
      }
      
.black {color: #000000
}
.blue {color: #2196F3;
}
.grey {color: #757575
}
.dark-grey {color: #212121
}
.articles {
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: left
}

.articles h3 {
    font-weight: 700;
    line-height: 1,142;
    text-transform: uppercase;
    color: #212121
}
.articles p {
    font-weight: 400;
    line-height: 1,714;
    color: #757575;
}



.kind-of-services {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    text-align: left;
}

.group-of-services {
    font-size: 16px;
    font-weight: 400;
    line-height: 1,875;
    text-align: left;
    }