body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.02em;
    text-align: left;
}

.main-information {
        font-weight: 500;
        font-size: 14px;
        line-height: 1,142;
        letter-spacing: 0.02em;
        text-align: left;
      }
      
.black {color: #000000
}
.blue {color: #2196F3;
}
.grey {color: #757575
}
.dark-grey {color: #212121
}
.hero-section h1 {
    font-weight: 900; 
    font-size: 44px;
    line-height: 1,363;
    text-transform: uppercase;
    text-align:center;
    color: #FFFFFF;
    background-color:#2F303A;
}
.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1,875;
    display: inline-block;
    /* inline-block nie działa*/
    color: #FFFFFF;
    letter-spacing: 0.06em;
    background-color:#2196F3;
    /*skasowanie font-size: 44px; poniżej powoduje zniknięcie niebieskiego tła w przycisku, coś się nadpisuje ???*/
    font-size: 44px;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,166;
    text-align: center;
    color: #212121
}
p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.articles {
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: left;   
}
.articles h3 {
    font-weight: 700;
    line-height: 1,142;
    text-transform: uppercase;
    color: #212121
}
.articles p { 
    font-size: 14px;
    line-height: 1,714;
}
.team {
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    color: #212121;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,187;
}
.team p {
    line-height: 1,187;
}
.down-footer {
    background:#2F303A;
}


.kind-of-services {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    text-align: left;
}

.group-of-services {
    font-size: 16px;
    font-weight: 400;
    line-height: 1,875;
    text-align: left;
    }